#  Nettoyage et Pr√©paration des Donn√©es - Projet Pr√©diction de Salaire

Ce notebook a pour objectif de nettoyer et pr√©parer les donn√©es issues du scraping des offres d‚Äôemploi (HelloWork, Indeed, etc.) 
afin d‚Äôobtenir un jeu de donn√©es propre, coh√©rent et exploitable pour la phase de Machine Learning.

### Objectifs principaux :
- Fusionner et centraliser les fichiers CSV
- Nettoyer les textes (titres, descriptions)
- Uniformiser les salaires (‚Ç¨/an)
- G√©rer les valeurs manquantes
- Sauvegarder un dataset final propre : `cleaned_jobs.csv`

### Donn√©es utilis√©es :
- Donn√©es issues du scraping (`data_ha_indeed.csv`)
- Champs principaux : `title`, `company`, `location`, `salary`, `description`

##  Importation des librairies n√©cessaires
Nous utilisons `pandas` pour la manipulation des donn√©es, `re` pour le nettoyage des textes, 
et `matplotlib` pour visualiser certaines distribution  
#üìÇ Chargement et aper√ßu des donn√©es
Nous chargeons les fichiers CSV issus du scraping et v√©rifions leur structure

s.

In [ ]:
import pandas as pd 



df1 = pd.read_csv("C:/Users/Etu/Desktop/offres_developpeur_mobile.csv" ,  encoding = "utf-8") 
df2 = pd.read_csv("C:/Users/Etu/Desktop/filtered_developpeur_logicielll.csv" ,  encoding = "utf-8") 
df3 = pd.read_csv("C:/Users/Etu/Desktop/filtered_developpeur_webb.csv" ,  encoding = "utf-8")
df4 = pd.read_csv("C:/Users/Etu/Desktop/data_analystt.csv" ,  encoding = "utf-8")
df5 = pd.read_csv("C:/Users/Etu/Desktop/data engineer competencee.csv" ,  encoding = "utf-8")
df6 = pd.read_csv("C:/Users/Etu/Desktop/data scientist competence.csv" ,  encoding = "utf-8")
df7 = pd.read_csv("C:/Users/Etu/Desktop/filtered informatique competencee.csv" ,  encoding = "utf-8")


for df in [df1, df2,df3,df4,df5,df6,df7]:
    df.columns = df.columns.str.strip().str.lower()  

# Merge both datasets
merged_df = pd.concat([df1, df2,df3,df4,df5,df6,df7], ignore_index=True)  



# Save to a new CSV file
merged_df.to_csv("C:/Users/Etu/Desktop/domaine_info.csv", index=False ,  encoding = "utf-8-sig")  

len(merged_df)

On observe que certaines colonnes comme `salary` ou `experience` contiennent des valeurs manquantes ou mal format√©es.

In [3]:
import pandas as pd
df = pd.read_csv("C:/Users/Etu/Desktop/api_domaine_info.csv",  encoding = "utf-8") 
df.info() 
df["titre"] 
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3067 entries, 0 to 3066
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_offre            3067 non-null   object
 1   titre               3067 non-null   object
 2   entreprise          2320 non-null   object
 3   salaire             3067 non-null   object
 4   salaire_complement  488 non-null    object
 5   ville               3067 non-null   object
 6   region              0 non-null      float64
 7   description         3067 non-null   object
 8   date_publication    3067 non-null   object
 9   experience          3067 non-null   object
 10  contrat             3067 non-null   object
 11  competences         767 non-null    object
 12  departement         3067 non-null   object
 13  mot_cle_source      3067 non-null   object
dtypes: float64(1), object(13)
memory usage: 335.6+ KB

,id_offre,titre,entreprise,salaire,salaire_complement,ville,region,description,date_publication,experience,contrat,competences,departement,mot_cle_source
0,201STWH,Ing√©nieur.e d'√©tude : traitement de donn√©es/si...,INRAE CLERMONT-ARA ST-GENES-CHAMPANELLE,Mensuel de 2244.79 Euros sur 12.0 mois,NaN,03 - Montoldre,NaN,Vous exercerez votre activit√© au sein de l'Uni...,2025-12-19T10:23:24.260Z,D√©butant accept√©,CDD,"Analyser, exploiter, structurer des donn√©es",3,data engineer
1,201CSRN,Data Engineer (H/F),SOCIETE POUR L'INFORMATIQUE INDUSTRIELLE,Mensuel de 37000.0 Euros √† 40000.0 Euros sur 1...,NaN,06 - VALBONNE,NaN,Dans le cadre du d√©veloppement de notre agence...,2025-12-03T16:20:41.796Z,D√©butant accept√©,CDI,"Analyser, exploiter, structurer des donn√©es",6,data engineer
2,6683253,Charg√© de mission et projets (H/F),NaN,Annuel de 40000.0 Euros √† 50000.0 Euros,NaN,06 - Valbonne,NaN,"Offre d&apos,emploi : CDI Client final Chef de...",2025-12-17T09:02:07.000Z,D√©butant accept√©,CDI,NaN,6,consultant business intelligence
3,3675058,DATA ANALYST ‚Äì TEMPS PLEIN H/F,NaN,Annuel de 0.0 Euros,NaN,10 - Nogent-sur-Seine,NaN,Votre mission : Pr√©parer un plan de travail ...,2025-10-11T04:21:38.000Z,D√©butant accept√©,CDI,NaN,10,data analyst
4,5873455,Data Engineer - ETL SAP BO / Logistique (H/F),Externatic,Annuel de 45000.0 Euros √† 55000.0 Euros,NaN,11 - Castelnaudary,NaN,L'entreprise accompagn√©e et les missions: Vous...,2025-11-26T23:00:52.000Z,5 An(s),CDI,NaN,11,data engineer
5,201QBRP,Data analyst (H/F),PROMAN,Horaire de 17.0 Euros √† 30.0 Euros sur 12.0 mois,NaN,13 - Marseille 9e Arrondissement,NaN,Le poste : La division IT de PROMAN EXPERTISE ...,2025-12-16T18:00:35.383Z,2 An(s),MIS,NaN,13,data analyst
6,201MFRL,Data analyst,DOGG LABEL,Mensuel de 2600.0 Euros sur 12.0 mois,NaN,13 - MARSEILLE 10,NaN,G√©rer et structurer la base de donn√©es clients...,2025-12-12T12:08:58.418Z,24 Mois,CDI,Adapter les outils de traitement statistique d...,13,data analyst
7,201JDFR,Data engineer (H/F),PROXIAD,Annuel de 35000.0 Euros √† 38500.0 Euros sur 12...,NaN,13 - AIX EN PROVENCE,NaN,Data Engineer exp√©riment√© - Python / GCP / Spa...,2025-12-09T12:38:12.671Z,D√©butant accept√©,CDI,"Analyser, exploiter, structurer des donn√©es",13,data engineer
8,201WHKH,D√©veloppeur IT - Talend (H/F),H CONSULTING,Annuel de 36000.0 Euros sur 12.0 mois,NaN,13 - Marseille 8e Arrondissement,NaN,H Consulting recherche un D√©veloppeur IT - Tal...,2025-12-23T14:20:45.567Z,D√©butant accept√©,CDI,"Anglais technique|Analyser, exploiter, structu...",13,data engineer
9,201NRMG,Ing√©nieur D√©veloppeur PL/SQL (H/F),GROUPAGORA,Mensuel de 38000.0 Euros √† 42000.0 Euros sur 1...,NaN,13 - Aix-en-Provence,NaN,Nous sommes √† la recherche d'un D√©veloppeur PL...,2025-12-15T15:49:51.691Z,3 An(s),CDI,"Anglais technique|Analyser, exploiter, structu...",13,data engineer

## suppression des doublonssupprimons les doublons en nous basant sur le titre, l‚Äôentreprise et le salaire

In [88]:
df = df.drop_duplicates(subset=["titre", "entreprise", "salaire_texte_brut"], keep="first")
#sauvgarde du fichier sans les doublon 
df.to_csv("C:/Users/Etu/Desktop/no_duplicates_informatique.csv", encoding= "utf-8-sig",index = False)
print("Nombre total de lignes :", len(df))

Nombre total de lignes : 956

##  Nettoyage des textes
Les colonnes `title` et `description` contiennent des caract√®res sp√©ciaux, 
des majuscules et des √©l√©ments inutile‚Äù).  
Nous nettoyons ces textes pour faciliter l‚Äôanalyse linguistique.

In [36]:
import re  
df = pd.read_csv("C:/Users/Etu/Desktop/api_domaine_info.csv",  encoding = "utf-8") 
df["titre"] = df["titre"].apply(lambda x: re.sub(r"H/F.*$", "", str(x))).str.lower() 
df["titre"] = df["titre"].apply(lambda x: re.sub(r"H/F.*$", "", str(x))).str.lower() 
df['titre'] = df['titre'].str.replace('\n', ' ', regex=False) 
df['titre'] = df['titre'].str.replace('H/F', ' ', regex=False)  
df['titre'] = df['titre'].str.replace('(H/F)', ' ', regex=False) 
df['titre'] = df['titre'].str.replace('(F/H)', ' ', regex=False)
df['titre'] = df['titre'].str.replace('F/H', ' ', regex=False)

df["description"] = df["description"].str.replace(r"\s+", " ", regex=True).str.strip()
  
df["description"] = df["description"].apply(lambda x: re.sub(r"[^a-zA-Z√Ä-√ø0-9\s]", " ", str(x))).str.lower() 
df["titre"].head(20)  


df.to_csv("C:/Users/Etu/Desktop/api_domaine_infoo.csv",  encoding = "utf-8-sig",index = False)

On constate egalement des carat√®re "\n" issue des retoure a ligne dans les text description , on va enlever les caract√®re 
puis normaliser les espace pour rendre le

In [39]:
df = pd.read_csv("C:/Users/Etu/Desktop/api_domaine_info.csv",  encoding = "utf-8") 
df['description'] = df['description'].str.replace('\n', ' ', regex=False)
df["description"] = df["description"].str.replace(r"\s+", " ", regex=True).str.strip() # normalise les espace  
df["description"] = df["description"].str.replace(r",", " ", regex=True).str.strip() # normalise les espace  
df["description"].iloc[677] 

df.to_csv("C:/Users/Etu/Desktop/api_domaine_infoo.csv",  encoding = "utf-8-sig",index = False)

nettoyage des salaires

In [34]:
import pandas as pd
import re



df = pd.read_csv("C:/Users/Etu/Desktop/api_domaine_info.csv",  encoding = "utf-8")


# 2. LA FONCTION DE NETTOYAGE
def nettoyer_salaire_intelligent(texte):
    if pd.isna(texte) or texte == "": return None, None, None
    texte_clean = str(texte).lower().replace(" ", "").replace(",", ".")
    
    matches = re.findall(r"(\d+(?:\.\d+)?)", texte_clean)
    if not matches: return None, None, None

    est_mensuel = "mensuel" in texte_clean or "mois" in texte_clean
    est_horaire = "heure" in texte_clean or "/h" in texte_clean

    valeurs_annuelles = []
    for m in matches:
        try:
            val = float(m)
            if est_horaire: annuel = val * 1820
            elif est_mensuel:
                if val > 12000: annuel = val # Erreur saisie, d√©j√† annuel
                else: annuel = val * 12
            else: annuel = val # D√©j√† annuel

            # Filtre de r√©alisme (15k √† 200k)
            if 15000 <= annuel <= 200000:
                valeurs_annuelles.append(annuel)
        except: pass

    if not valeurs_annuelles: return None, None, None
    
    valeurs_annuelles.sort()
    return valeurs_annuelles[0], valeurs_annuelles[-1], sum(valeurs_annuelles)/len(valeurs_annuelles)

# 3. CR√âATION DES COLONNES (C'est l'√©tape cruciale !)
print("üîÑ Calcul en cours...")
df[['salaire_min_final', 'salaire_max_final', 'salaire_avg_final']] = df['salaire'].apply(
    lambda x: pd.Series(nettoyer_salaire_intelligent(x))
)


df.to_csv("C:/Users/Etu/Desktop/api_domaine_infoo.csv",  encoding = "utf-8-sig",index = False)

üîÑ Calcul en cours...

# suprimon les lignes qui ne contienne pas de salaire

In [95]:
mask = df["salaire_texte_brut"].str.contains(r"Non renseign√©",case = False,na=False) 
df_filtrer = df[~mask] 
print("Avant:",len(df))
print("apres :", len(df_filtrer)) 
#sauvgarder
df_filtrer.to_csv("C:/Users/Etu/Desktop/filtrer_domaine_info.csv", encoding= "utf-8-sig",index = False)

Avant: 956
apres : 913

In [96]:
df = pd.read_csv("C:/Users/Etu/Desktop/informatique.csv", encoding= "utf-8") 
df["salaire_texte_brut"]

0      32 000 - 35 000 ‚Ç¨
1      28 000 - 30 000 ‚Ç¨
2               34 000 ‚Ç¨
3      40 000 - 80 000 ‚Ç¨
4                  2 134
             ...
908             50 700 ‚Ç¨
909    34 000 - 39 000 ‚Ç¨
910    55 000 - 65 000 ‚Ç¨
911    40 000 - 45 000 ‚Ç¨
912    30 000 - 40 000 ‚Ç¨
Name: salaire_texte_brut, Length: 913, dtype: object

In [97]:
import pandas as pd 
import re 
import numpy as np





def parse_salary(s):
     if pd.isna(s):
        return pd.Series({
            "salary_min": np.nan,
            "salary_max": np.nan,
            "avg_salary": np.nan
        })

     s = str(s).lower()

    # d√©tecter la p√©riode
   
     is_monthly = any(x in s for x in ["mois", "mensuel", "month"])
     is_yearly = any(x in s for x in ["‚Ç¨ / an"])


    # extraire les nombres (virgules, espaces, milliers)
     numbers = re.findall(
        r"\d{1,3}(?:[ .]\d{3})*(?:,\d+)?|\d+(?:,\d+)?",
        s
     )

     values = []
     for n in numbers:
        n = n.replace(" ", "").replace(".", "").replace(",", ".")
        try:
            values.append(float(n))
        except:
            pass

     if not values:
        return pd.Series([np.nan, np.nan, np.nan])

    # min / max
     if len(values) == 1:
        salary_max = values[0]
        salary_min = salary_max * 0.85
     else:
        salary_min = min(values)
        salary_max = max(values)


     if is_monthly :
        salary_min *= 12
        salary_max *= 12

     avg_salary = (salary_min + salary_max) / 2

     return pd.Series(
    {
        "salary_min": salary_min,
        "salary_max": salary_max,
        "avg_salary": avg_salary
    }
)

# apply to dataframe
df[["salary_min", "salary_max", "avg_salary"]] = df["salaire_texte_brut"].apply(parse_salary) 

df = df[(df["avg_salary"] >= 12000) & (df["avg_salary"] <= 300000)]
#sauvgardon 
df.to_csv("C:/Users/Etu/Desktop/cleaned_info.csv", encoding= "utf-8-sig",index= False)
len(df)

837

## Extraction du Niveau d'Exp√©rience

**Objectif :**
Cr√©er une nouvelle variable cat√©gorielle `experience_finale` pour am√©liorer la pr√©cision du mod√®le.

**Probl√©matique :**
L'exp√©rience est souvent manquante ou mal structur√©e dans les donn√©es brutes. 

La fonction `get_smart_experience` analyse le texte avec une logique de priorit√© d√©croissante :

1.  **Analyse du TITRE (Priorit√© Haute)** 
    *   Le titre est l'indicateur le plus fiable pour les contrats sp√©cifiques.
    *   *D√©tection :* "Stage", "Alternance", "Lead", "Senior", "CTO", "Manager".

2.  **Extraction Num√©rique (Regex sur Description)** 
    *   Recherche de motifs temporels explicites dans le texte (ex: *"5 ans d'exp√©rience"*, *"2 ann√©es"*).
    *   **Classification automatique :**
        *   `0 - 2 ans` $\rightarrow$ **Junior**
        *   `3 - 5 ans` $\rightarrow$ **Interm√©diaire**
        *   `> 5 ans` $\rightarrow$ **Senior**

3.  **Analyse S√©mantique (Mots-cl√©s)** 
    *   Si aucun chiffre n'est trouv√©, recherche de termes qualitatifs.
    *   *Exemples :* "D√©butant accept√©", "Confirm√©", "Expert".

4.  **Cas par d√©faut**
    *   Si aucune information n'est d√©tect√©e, la valeur est fix√©e √† **"Non sp√©cifi√©"**. Cette cat√©gorie sera trait√©e par le `OneHotEncoder` comme une information √† part enti√®re (souvent corr√©l√©e √† un salaire standard).

In [98]:
import pandas as pd
import re

# Charge ton fichier
df = pd.read_csv("C:/Users/Etu/Desktop/informatique.csv")

def get_smart_experience(row):
    # On combine Titre + Description pour chercher l'info
    # On donne la priorit√© au Titre 
    titre = str(row.get('titre', '')).lower()
    desc = str(row.get('description', '')).lower()
    
    # 1. ANALYSE DU TITRE (Priorit√© Absolue)
    if "stage" in titre: return "Stage"
    if "alternance" in titre or "apprenti" in titre: return "Alternance"
    if "senior" in titre or "lead" in titre or "architecte" in titre or "directeur" in titre or "cto" in titre or "manager" in titre:
        return "Senior (5+ ans)"
    if "junior" in titre: return "Junior (0-2 ans)"

    # Recherche de chiffres pr√©cis : "5 ans", "2 ann√©es
    match = re.search(r"(\d{1,2})\s*(?:ans|ann[√©e]es)", desc)
    if match:
        years = int(match.group(1))
        if years == 0: return "Junior (0-2 ans)"
        if 1 <= years <= 2: return "Junior (0-2 ans)"
        if 3 <= years <= 5: return "Interm√©diaire (2-5 ans)"
        if years > 5: return "Senior (5+ ans)"

    # Mots cl√©s dans la description
    if "d√©butant accept√©" in desc: return "Junior (0-2 ans)"
    if "premi√®re exp√©rience" in desc: return "Junior (0-2 ans)"
    if "exp√©riment√©" in desc or "expert" in desc: return "Senior (5+ ans)"
    if "confirm√©" in desc: return "Interm√©diaire (2-5 ans)"  
    if "senior" in desc or "lead" in desc or "architecte" in desc or "directeur" in desc or "cto" in desc or "manager" in desc:
        return "Senior (5+ ans)"
        

    # si rien n'est trouver
    return "Non sp√©cifi√©"

# Application ligne par ligne (axis=1 permet de lire toute la ligne)
print(" Extraction intelligente de l'exp√©rience...")
df['experience_finale'] = df.apply(get_smart_experience, axis=1)

# V√©rification des r√©sultats
print("\n R√©partition des niveaux d'exp√©rience :")
print(df['experience_finale'].value_counts())

# Sauvegarde
df.to_csv("C:/Users/Etu/Desktop/dataset_ready_v2.csv", index=False, encoding="utf-8-sig")

 Extraction intelligente de l'exp√©rience...

 R√©partition des niveaux d'exp√©rience :
experience_finale
Senior (5+ ans)            292
Interm√©diaire (2-5 ans)    263
Junior (0-2 ans)           168
Non sp√©cifi√©               113
Stage                        1
Name: count, dtype: int64

2303

In [70]:
import pandas as pd
import re

# Charge ton fichier
df = pd.read_csv("C:/Users/Etu/Desktop/cleaned_info.csv") 

# --- LA BIBLE DES COMP√âTENCES IT (Liste √âtendue) ---
TECH_KEYWORDS = [
    # ‚û§ Langages de programmation
    "python", "java", "javascript", "typescript", "c++", "c#", "php", "ruby", "go", "golang", 
    "rust", "swift", "kotlin", "scala", "r", "vba", "sql", "pl/sql", "cobol", "abap", "perl", "bash", "shell", "django",
    
    # ‚û§ Web Front (Frameworks & Outils)
    "react", "react.js", "angular", "vue", "vue.js", "node", "node.js", "next.js", "nuxt.js", "svelte",
    "html", "css", "sass", "less", "tailwind", "bootstrap", "jquery", "webpack", "vite",
    
    # ‚û§ Web Back & API
    "django", "flask", "fastapi", "spring", "spring boot", "symfony", "laravel", "dotnet", ".net", "asp.net",
    "hibernate", "jpa", "graphql", "rest api", "soap",
    
    # ‚û§ Data, Big Data & IA
    "pandas", "numpy", "scikit-learn", "tensorflow", "pytorch", "keras", "opencv", "llm", "transformers",
    "spark", "pyspark", "hadoop", "hive", "kafka", "flink", "airflow", "dbt", "databricks", "snowflake",
    "tableau", "power bi", "qlik", "talend", "ssis", "ssas", "ssrs", "nlp", "etl",
    
    # ‚û§ Cloud & DevOps & Infra
    "aws", "amazon web services", "azure", "gcp", "google cloud", "docker", "kubernetes", "k8s", 
    "ansible", "terraform", "jenkins", "gitlab ci", "github actions", "circleci", "prometheus", "grafana", 
    "elk", "elastic", "linux", "unix", "ubuntu", "redhat", "centos", "debian", "vmware", "hyper-v",
    
    # ‚û§ Bases de donn√©es (SQL & NoSQL)
    "mysql", "postgresql", "postgres", "oracle", "sql server", "mariadb", "sqlite",
    "mongodb", "cassandra", "redis", "elasticsearch", "neo4j", "dynamodb", "cosmos db",
    
    # ‚û§ Mobile
    "react native", "flutter", "ios", "android", "xamarin", "ionic", "dart",
    
    # ‚û§ Gestion de projet, M√©thodes & Outils
    "agile", "scrum", "kanban", "safe", "jira", "confluence", "git", "github", "gitlab", "svn", "trello",
    "uml", "merise",
    
    # ‚û§ CMS & E-commerce
    "wordpress", "drupal", "joomla", "magento", "prestashop", "shopify", "salesforce", "sap", "odoo",
    
    # ‚û§ Cybers√©curit√© & R√©seau
    "owasp", "pci-dss", "gdpr", "rgpd", "vpn", "firewall", "cisco", "fortinet", "wireshark", "kali",
    
  
]

def extract_skills_extended(row):
    # 1. On fusionne Titre + Description pour ne rien rater
    # On convertit en string pour √©viter les bugs si une case est vide
    titre = str(row.get('titre', ''))
    desc = str(row.get('description', '')) # ou 'description' selon ton fichier
    
    # On met tout en minuscule
    full_text = (titre + " " + desc).lower()
    
    found_skills = set() # 'set' emp√™che les doublons automatiquement
    
    for skill in TECH_KEYWORDS:
        # Regex \b pour mot entier (√©vite de trouver "java" dans "javascript")
        pattern = r"\b" + re.escape(skill) + r"\b"
        
        if re.search(pattern, full_text):
            # Cas particulier : harmonisation
            if skill in ["node.js", "node"]: found_skills.add("node.js")
            elif skill in ["react.js", "react"]: found_skills.add("react")
            elif skill in ["vue.js", "vue"]: found_skills.add("vue.js")
            elif skill in ["aws", "amazon web services"]: found_skills.add("aws")
            elif skill in ["golang", "go"]: found_skills.add("go")
            else:
                found_skills.add(skill)
            
    if found_skills:
        return ", ".join(sorted(list(found_skills))) # On trie par ordre alphab√©tique
    return "Non sp√©cifi√©"

print(" Extraction PRO des comp√©tences (Titre + Description)...")

# Application sur tout le DataFrame
df['competences'] = df.apply(extract_skills_extended, axis=1)

# Aper√ßu
print(df[['competences']].head(10))

#Sauvegarde
df.to_csv("C:/Users/Etu/Desktop/informatique_FINAL_SKILLS.csv", index=False, encoding="utf-8-sig")
print("‚úÖ Fichier sauvegard√© avec succ√®s !")

 Extraction PRO des comp√©tences (Titre + Description)...
                  competences
0                       agile
1                         sap
2           power bi, tableau
3              git, github, r
4                sql, tableau
5  power bi, python, sql, vba
6       etl, power bi, python
7          sql, tableau, vite
8          sql, tableau, vite
9                 python, sql
‚úÖ Fichier sauvegard√© avec succ√®s !

In [46]:
df = pd.read_csv("C:/Users/Etu/Desktop/informatique_FINAL_SKILLS.csv",  encoding="utf-8") 
print(df['competences'].value_counts())

competences
Non sp√©cifi√©                                                                        884
sql                                                                                  54
agile                                                                                36
linux                                                                                33
r                                                                                    30
                                                                                   ...
.net, asp.net, css, javascript, jquery, oracle, r, sql, ssas, ssis, ssrs, vue.js      1
tableau                                                                               1
airflow, etl, git, mysql, pandas, python, rgpd, sql                                   1
airflow, aws, azure, etl, gcp, mysql, pyspark, python                                 1
airflow, aws, azure, etl, gcp, python, spark, sql                                     1
Name: count, Length: 1068, dtype: int64

In [75]:
import pandas as pd
import re

# 1. Charge ton fichier (celui avec les comp√©tences)
df = pd.read_csv("C:/Users/Etu/Desktop/cleaned_info.csv") 

def extract_department(text):
    if pd.isna(text) or text == "": return "Non sp√©cifi√©"
    text = str(text).upper() # Majuscule pour g√©rer la Corse (2A/2B)
    
    # 1. Gestion Sp√©ciale CORSE (2A et 2B)
    if "2A" in text: return "2A"
    if "2B" in text: return "2B"
    
    # 2. Regex pour trouver le Code
    # On cherche 2 ou 3 chiffres (pour les DOM 971...)
    # - \b : d√©but de mot
    # - (97\d|\d{2}) : Soit un DOM (97x), soit 2 chiffres classiques
    # - (?:\d{3})? : Optionnellement suivi de 3 chiffres (si c'est un code postal complet ex: 75001)
    match = re.search(r"\b(97\d|\d{2})(?:\d{3})?\b", text)
    
    if match:
        # On ne garde que le groupe captur√© (les 2 ou 3 premiers chiffres)
        dept = match.group(1)
        
        # Filtre de s√©curit√© : un d√©partement est entre 01 et 98
        # (√âvite de prendre "Bac +5" comme d√©partement 05)
        if dept.isdigit():
            val = int(dept)
            if 1 <= val <= 95 or val > 970:
                return dept
            
    return "Non sp√©cifi√©"

print(" Extraction des D√©partements...")

# Application
df['departement'] = df['ville'].apply(extract_department)

# V√©rification : Regardons les r√©sultats
print(df[['ville', 'departement']].head(10))

# Sauvegarde
df.to_csv("C:/Users/Etu/Desktop/clean_detaprtement.csv", index=False, encoding="utf-8-sig")
print(" Fichier sauvegard√© avec la colonne 'departement' !")

 Extraction des D√©partements...
                    ville departement
0              Paris - 75          75
1   Champs-sur-Marne - 77          77
2              Paris - 75          75
3  Neuilly-sur-Seine - 92          92
4    Rueil-Malmaison - 92          92
5            Puteaux - 92          92
6     Roissy-en-Brie - 77          77
7              Paris - 75          75
8            Provins - 77          77
9              Paris - 75          75
 Fichier sauvegard√© avec la colonne 'departement' !

In [83]:
df = pd.read_csv("C:/Users/Etu/Desktop/noo_duplicated_informatique.csv",encoding = "utf-8") 
df.drop_duplicates(subset = ["titre","entreprise","salaire_texte_brut"]).sum() 
df.to_csv("C:/Users/Etu/Desktop/noo0_duplicated_informatique.csv",encoding = "utf-8-sig",index = False)

1432

In [82]:
df

,url,titre,entreprise,salaire_texte_brut,ville,description,region
0,https://www.hellowork.com/fr-fr/emplois/729729...,Charg√© Informatique H/F IONIS Education Group,IONIS Education Group,32 000 - 35 000 ‚Ç¨,Paris 3e - 75,Le/la Charg√©(e) informatique assure la gestion...,√éle-de-France
1,https://www.hellowork.com/fr-fr/emplois/733563...,Gestionnaire d'Habilitations Informatique H/F ...,AS International,28 000 - 30 000 ‚Ç¨,Nanterre - 92,Nous recherchons un Gestionnaire d'habilitatio...,√éle-de-France
2,https://www.hellowork.com/fr-fr/emplois/729798...,Directeur des Op√©rations Informatique H/F Orev...,Oreve - Ortec Group,34 000 ‚Ç¨,Paris - 75,"Obornes, repr√©sent√© par la marque Oreve, est l...",√éle-de-France
3,https://www.hellowork.com/fr-fr/emplois/739609...,Ing√©nieur Commercial Informatique H/F DFM,DFM,40 000 - 80 000 ‚Ç¨,Cr√©teil - 94,"Rejoignez DFM, entreprise certifi√©e Great Plac...",√éle-de-France
4,https://www.hellowork.com/fr-fr/emplois/742352...,Sp√©cialiste R√©seaux Informatiques H/F Arm√©e de...,Arm√©e de Terre,134 ‚Ç¨,Versailles - 78,VOTRE MISSION En tant que sp√©cialiste r√©seaux ...,√éle-de-France
...,...,...,...,...,...,...,...
1427,https://www.hellowork.com/fr-fr/emplois/429682...,Auditeur - Consultant Si Senior - le Havre H/F...,Forvis Mazars,50 700 ‚Ç¨,Le Havre - 76,Forvis Mazars recrute au sein de son bureau ha...,Normandie
1428,https://www.hellowork.com/fr-fr/emplois/698423...,Consultant Power Bi H/F Proxiad,Proxiad,34 000 - 39 000 ‚Ç¨,Rouen - 76,A propos de Proxiad Axe Seine Proxiad Axe Sein...,Normandie
1429,https://www.hellowork.com/fr-fr/emplois/734138...,Chef de Projets IT H/F Approach People Recruit...,Approach People Recruitment,55 000 - 65 000 ‚Ç¨,Rouen - 76,Chef de Projet IT : Localisation : Rouen (d√©pl...,Normandie
1430,https://www.hellowork.com/fr-fr/emplois/733993...,Analyste COBOL Confirm√© H/F Step Up,Step Up,40 000 - 45 000 ‚Ç¨,Rouen - 76,Pour l'un de nos clients dans le domaine des a...,Normandie
1431,https://www.hellowork.com/fr-fr/emplois/733993...,Ing√©nieur Validation Syst√®me Adas - Essais Ter...,Step Up,30 000 - 40 000 ‚Ç¨,Eure - 27,Ing√©nieur Validation Syst√®me ADAS - Essais ter...,Normandie

In [102]:
import pandas as pd 



df1 = pd.read_csv("C:/Users/Etu/Desktop/data_jobs_WITH_SALARY.csv" ,  encoding = "utf-8") 
df2 = pd.read_csv("C:/Users/Etu/Desktop/cloud_WITH_SALARY.csv" ,  encoding = "utf-8") 
df3 = pd.read_csv("C:/Users/Etu/Desktop/developeur_WITH_SALARY.csv" ,  encoding = "utf-8")
df4 = pd.read_csv("C:/Users/Etu/Desktop/cybercycurite_WITH_SALARY.csv" ,  encoding = "utf-8")
df5 = pd.read_csv("C:/Users/Etu/Desktop/filtered_web_WITH_SALARY.csv" ,  encoding = "utf-8")
df6 = pd.read_csv("C:/Users/Etu/Desktop/chf_projet_WITH_SALARY.csv" ,  encoding = "utf-8")



for df in [df1, df2,df3,df4,df5,df6]:
    df.columns = df.columns.str.strip().str.lower()  

# Merge both datasets
merged_df = pd.concat([df1, df2,df3,df4,df5,df6], ignore_index=True)  



# Save to a new CSV file
merged_df.to_csv("C:/Users/Etu/Desktop/api_domaine_info.csv", index=False ,  encoding = "utf-8-sig")  

len(merged_df)

3067

In [44]:
import pandas as pd
import re 

df = pd.read_csv("C:/Users/Etu/Desktop/api_domaine_info.csv",  encoding = "utf-8") 


def format_salaire_intelligent(texte):
    if pd.isna(texte) or texte == "":
        return "Non sp√©cifi√©"

    texte_lower = str(texte).lower().replace(" ", "")

    # --- 1. D√âTECTION DU MULTIPLICATEUR (Correction ici) ---
    # R√®gle absolue : Si "annuel" est pr√©sent, c'est x1. Point barre.
    if "annuel" in texte_lower:
        multiplicateur = 1
    elif "mensuel" in texte_lower or "mois" in texte_lower:
        multiplicateur = 12
    else:
        multiplicateur = 1

    # --- 2. EXTRACTION DES CHIFFRES ---
    matches = re.findall(r"(\d+(?:\.\d+)?)", texte_lower)
    if not matches: return "Non sp√©cifi√©"

    valeurs_propres = []
    
    for m in matches:
        try:
            # On calcule la valeur annuelle potentielle
            val = float(m) * multiplicateur
            
            # --- 3. FILTRE ANTI-BRUIT (Important !) ---
            # On ignore les chiffres comme "12.0" (mois) ou "35" (heures)
            # Un salaire annuel r√©aliste est g√©n√©ralement > 14 000 ‚Ç¨ (SMIC)
            if val > 14000:
                # Formatage propre : 25000.0 -> "25 000"
                val_str = "{:,.0f}".format(val).replace(",", " ")
                valeurs_propres.append(val_str)
        except: pass

    # --- 4. FORMATAGE FINAL ---
    # On enl√®ve les doublons et on trie (pour avoir petit - grand)
    valeurs_propres = sorted(list(set(valeurs_propres)))

    if len(valeurs_propres) >= 2:
        return f"{valeurs_propres[0]} - {valeurs_propres[-1]} ‚Ç¨ / an"
    elif len(valeurs_propres) == 1:
        return f"{valeurs_propres[0]} ‚Ç¨ / an"

    return "Non sp√©cifi√©"

# Test
print("üîÑ Correction...")
df['salaire_clean'] = df['salaire'].apply(format_salaire_intelligent)

pd.set_option('display.max_colwidth', None)



df.to_csv("C:/Users/Etu/Desktop/api_domaine_infooo.csv",  encoding = "utf-8-sig",index= False)

üîÑ Correction...

In [47]:
import pandas as pd

# 1. Chargement du fichier
# Remplace par ton dernier fichier sauvegard√©
input_path = "C:/Users/Etu/Desktop/api_domain_info.csv"
df = pd.read_csv(input_path)

# 2. Dictionnaire de Mapping (D√©partement -> R√©gion)
# C'est la carte de France officielle
DEPT_TO_REGION = {
    # Auvergne-Rh√¥ne-Alpes
    "01": "Auvergne-Rh√¥ne-Alpes", "03": "Auvergne-Rh√¥ne-Alpes", "07": "Auvergne-Rh√¥ne-Alpes", 
    "15": "Auvergne-Rh√¥ne-Alpes", "26": "Auvergne-Rh√¥ne-Alpes", "38": "Auvergne-Rh√¥ne-Alpes", 
    "42": "Auvergne-Rh√¥ne-Alpes", "43": "Auvergne-Rh√¥ne-Alpes", "63": "Auvergne-Rh√¥ne-Alpes", 
    "69": "Auvergne-Rh√¥ne-Alpes", "73": "Auvergne-Rh√¥ne-Alpes", "74": "Auvergne-Rh√¥ne-Alpes",
    
    # Bourgogne-Franche-Comt√©
    "21": "Bourgogne-Franche-Comt√©", "25": "Bourgogne-Franche-Comt√©", "39": "Bourgogne-Franche-Comt√©", 
    "58": "Bourgogne-Franche-Comt√©", "70": "Bourgogne-Franche-Comt√©", "71": "Bourgogne-Franche-Comt√©", 
    "89": "Bourgogne-Franche-Comt√©", "90": "Bourgogne-Franche-Comt√©",
    
    # Bretagne
    "22": "Bretagne", "29": "Bretagne", "35": "Bretagne", "56": "Bretagne",
    
    # Centre-Val de Loire
    "18": "Centre-Val de Loire", "28": "Centre-Val de Loire", "36": "Centre-Val de Loire", 
    "37": "Centre-Val de Loire", "41": "Centre-Val de Loire", "45": "Centre-Val de Loire",
    
    # Corse
    "2A": "Corse", "2B": "Corse",
    
    # Grand Est
    "08": "Grand Est", "10": "Grand Est", "51": "Grand Est", "52": "Grand Est", "54": "Grand Est", 
    "55": "Grand Est", "57": "Grand Est", "67": "Grand Est", "68": "Grand Est", "88": "Grand Est",
    
    # Hauts-de-France
    "02": "Hauts-de-France", "59": "Hauts-de-France", "60": "Hauts-de-France", "62": "Hauts-de-France", "80": "Hauts-de-France",
    
    # √éle-de-France
    "75": "√éle-de-France", "77": "√éle-de-France", "78": "√éle-de-France", "91": "√éle-de-France", 
    "92": "√éle-de-France", "93": "√éle-de-France", "94": "√éle-de-France", "95": "√éle-de-France",
    
    # Normandie
    "14": "Normandie", "27": "Normandie", "50": "Normandie", "61": "Normandie", "76": "Normandie",
    
    # Nouvelle-Aquitaine
    "16": "Nouvelle-Aquitaine", "17": "Nouvelle-Aquitaine", "19": "Nouvelle-Aquitaine", "23": "Nouvelle-Aquitaine", 
    "24": "Nouvelle-Aquitaine", "33": "Nouvelle-Aquitaine", "40": "Nouvelle-Aquitaine", "47": "Nouvelle-Aquitaine", 
    "64": "Nouvelle-Aquitaine", "79": "Nouvelle-Aquitaine", "86": "Nouvelle-Aquitaine", "87": "Nouvelle-Aquitaine",
    
    # Occitanie
    "09": "Occitanie", "11": "Occitanie", "12": "Occitanie", "30": "Occitanie", "31": "Occitanie", 
    "32": "Occitanie", "34": "Occitanie", "46": "Occitanie", "48": "Occitanie", "65": "Occitanie", 
    "66": "Occitanie", "81": "Occitanie", "82": "Occitanie",
    
    # Pays de la Loire
    "44": "Pays de la Loire", "49": "Pays de la Loire", "53": "Pays de la Loire", "72": "Pays de la Loire", "85": "Pays de la Loire",
    
    # Provence-Alpes-C√¥te d'Azur
    "04": "Provence-Alpes-C√¥te d'Azur", "05": "Provence-Alpes-C√¥te d'Azur", "06": "Provence-Alpes-C√¥te d'Azur", 
    "13": "Provence-Alpes-C√¥te d'Azur", "83": "Provence-Alpes-C√¥te d'Azur", "84": "Provence-Alpes-C√¥te d'Azur",
    
    # DOM-TOM (Principaux)
    "971": "Guadeloupe", "972": "Martinique", "973": "Guyane", "974": "La R√©union", "976": "Mayotte"
}

# 3. Fonction pour trouver la r√©gion 
def get_region_from_dept(dept_code):
    if pd.isna(dept_code) or dept_code == "" or dept_code == "Non sp√©cifi√©":
        return "Non sp√©cifi√©"
    
    # Normalisation : on transforme tout en cha√Æne de caract√®res
    code = str(dept_code).strip().upper()
    
    # Gestion des chiffres simples (ex: 6 devient "06")
    if code.isdigit() and len(code) == 1:
        code = "0" + code 
        
    # On regarde dans le dictionnaire
    return DEPT_TO_REGION.get(code, "Autre / International")

print("üîÑ Cr√©ation de la colonne R√©gion...")

# 4. Application sur la colonne 'departement'
# Assure-toi que ta colonne s'appelle bien 'departement'
if 'departement' in df.columns:
    df['region_finale'] = df['departement'].apply(get_region_from_dept)
    
    # V√©rification
    print(df[['ville', 'departement', 'region_finale']].head(15))
    
    # Sauvegarde
    output_path = "C:/Users/Etu/Desktop/dataset_COMPLETE_REGIONS.csv"
    df.to_csv(output_path, index=False, encoding="utf-8-sig")
    print(f"‚úÖ Fichier sauvegard√© : {output_path}")
else:
    print("‚ùå Erreur : La colonne 'departement' n'existe pas dans le fichier.")

üîÑ Cr√©ation de la colonne R√©gion...
                                ville departement               region_finale
0                      03 - Montoldre           3        Auvergne-Rh√¥ne-Alpes
1                       06 - VALBONNE           6  Provence-Alpes-C√¥te d'Azur
2                       06 - Valbonne           6  Provence-Alpes-C√¥te d'Azur
3               10 - Nogent-sur-Seine          10                   Grand Est
4                  11 - Castelnaudary          11                   Occitanie
5                   13 - MARSEILLE 10          13  Provence-Alpes-C√¥te d'Azur
6                13 - AIX EN PROVENCE          13  Provence-Alpes-C√¥te d'Azur
7    13 - Marseille 8e Arrondissement          13  Provence-Alpes-C√¥te d'Azur
8                13 - Aix-en-Provence          13  Provence-Alpes-C√¥te d'Azur
9                          13 - Arles          13  Provence-Alpes-C√¥te d'Azur
10  13 - Marseille 16e Arrondissement          13  Provence-Alpes-C√¥te d'Azur
11               21 - Semur-en-Auxois          21     Bourgogne-Franche-Comt√©
12                     21 - C√¥te-d'Or          21     Bourgogne-Franche-Comt√©
13                  22 - Saint-Brieuc          22                    Bretagne
14                     29 - Plou√©dern          29                    Bretagne
‚úÖ Fichier sauvegard√© : C:/Users/Etu/Desktop/dataset_COMPLETE_REGIONS.csv

In [69]:
import pandas as pd
import re

input_path = "C:/Users/Etu/Desktop/cleaned_informatique.csv"
df = pd.read_csv(input_path)

# 2. Fonction de nettoyage
def classer_experience(texte):
    if pd.isna(texte) or texte == "":
        return "Non sp√©cifi√©"
    
    texte_clean = str(texte).lower().strip()

    # --- CAS 1 : Mots-cl√©s explicites ---
    if "d√©butant" in texte_clean:
        return "Junior (0-2 ans)"

    # --- CAS 2 : D√©tection des MOIS (ex: "24 Mois") ---
    # On cherche un chiffre avant le mot "mois"
    match_mois = re.search(r"(\d+)\s*mois", texte_clean)
    if match_mois:
        mois = int(match_mois.group(1))
        annees = mois / 12
        
        if annees <= 2: return "Junior (0-2 ans)"
        elif 2 < annees <= 5: return "Interm√©diaire (2-5 ans)"
        else: return "Senior (5+ ans)"

    # --- CAS 3 : D√©tection des ANN√âES (ex: "5 An(s)") ---
    # On cherche un chiffre avant "an" (marche pour An, Ans, An(s))
    match_an = re.search(r"(\d+)\s*an", texte_clean)
    if match_an:
        annees = int(match_an.group(1))
        
        if annees <= 2: return "Junior (0-2 ans)"
        elif 2 < annees <= 5: return "Interm√©diaire (2-5 ans)"
        else: return "Senior (5+ ans)"

    # --- CAS 4 : "Exp√©rience exig√©e" sans chiffre ---
    # Souvent, si on exige de l'exp√©rience sans pr√©ciser, c'est au moins interm√©diaire
    if "exp√©rience" in texte_clean or "exig√©e" in texte_clean:
        return "Interm√©diaire (2-5 ans)" # Choix par d√©faut s√©curis√©

    return "Non sp√©cifi√©"

# 3. Application
print("üîÑ Normalisation de l'exp√©rience...")
df['experience_normalisee'] = df['experience'].apply(classer_experience)

# 4. R√©sultat
df.to_csv("C:/Users/Etu/Desktop/domaine.csv", encoding = "utf-8-sig" ,index = False)

üîÑ Normalisation de l'exp√©rience...

In [72]:
import pandas as pd

# 1. Charger ton fichier
input_path = "C:/Users/Etu/Desktop/informatique_FINAL_SKILLS.csv" # Ton fichier actuel
df = pd.read_csv(input_path)

# 2. D√©finition des Cat√©gories
# L'ordre est important : le script prend la premi√®re correspondance trouv√©e.
CATEGORIES_METIER = {
    # --- NOUVELLE CAT√âGORIE IA (Prioritaire) ---
    "Intelligence Artificielle": [
        "intelligence artificielle", "artificial intelligence", " ia ", " ai ", "-ia", "-ai",
        "machine learning", "deep learning", "computer vision", "nlp", "llm", 
        "g√©n√©rative", "generative", "rag ", "chatbot", "vision par ordinateur",
        "ing√©nieur ia", "ai engineer"
    ],

    # --- DATA ---
    "Data Scientist": ["data scientist", "data science", "scientist"],
    "Data Analyst": ["data analyst", "business analyst", "bi ", "business intelligence", "analytics", "analyste de donn√©es"],
    "Data Engineer": ["data engineer", "ing√©nieur data", "big data", "etl", "spark", "hadoop", "databricks"],
    "Data Architect": ["data architect", "architecte de donn√©es", "data manager", "data steward"],
    
    # --- D√âVELOPPEMENT ---
    "D√©veloppeur Web / Fullstack": ["fullstack", "full-stack", "web", "react", "angular", "vue", "node", "front-end", "back-end", "javascript", "php", "symfony", "laravel", "wordpress"],
    "D√©veloppeur Mobile": ["mobile", "android", "ios", "flutter", "react native", "swift", "kotlin"],
    "D√©veloppeur Logiciel": ["software engineer", "ing√©nieur logiciel", "d√©veloppeur logiciel", "c++", "c#", ".net", "java ", "j2ee", "python", "golang", "rust", "ruby"],
    "D√©veloppeur": ["d√©veloppeur", "developer", "dev ", "programmeur", "codeur"],
    
    # --- INFRA & CLOUD ---
    "DevOps / Cloud": ["devops", "cloud", "aws", "azure", "gcp", "sre", "ci/cd", "kubernetes", "docker", "terraform"],
    "Cybers√©curit√©": ["cybers√©curit√©", "cyber", "s√©curit√©", "security", "pentester", "soc ", "siem", "rssi"],
    "Syst√®me & R√©seau": ["syst√®me", "r√©seau", "administrateur", "admin sys", "ing√©nieur r√©seau", "technicien support", "helpdesk", "support it"],
    
    # --- MANAGEMENT ---
    "Chef de Projet / PO": ["chef de projet", "project manager", "product owner", "product manager", "scrum master", "cp ", "po "],
    "Directeur / CTO": ["cto", "directeur technique", "head of", "lead", "responsable", "manager", "directeur"],
    
    # --- AUTRES IT ---
    "Consultant": ["consultant", "audit"],
    "Test / QA": ["testeur", "qa ", "qualit√©", "validation"]
}

def categoriser_metier_smart(titre):
    # Si le titre est vide, on renvoie "Non sp√©cifi√©"
    if pd.isna(titre) or titre == "":
        return "Non sp√©cifi√©"
    
    # Nettoyage pour la recherche (minuscule)
    titre_clean = str(titre).lower()
    
    # 1. On cherche dans le dictionnaire
    for metier_cat, mots_cles in CATEGORIES_METIER.items():
        for mot in mots_cles:
            if mot in titre_clean:
                return metier_cat # Correspondance trouv√©e !
            
    # 2. SI AUCUNE CORRESPONDANCE : On renvoie le titre original
    # On le met juste en format "Titre" (Majuscule au d√©but) pour que ce soit propre
    return str(titre).strip().title()

print("üîÑ Cr√©ation de la colonne 'metier'...")

# 3. Application de la fonction
df['metier'] = df['titre'].apply(categoriser_metier_smart)

# 4. V√©rification
print("\nüìä Aper√ßu des r√©sultats (Top 20 cat√©gories) :")
print(df['metier'].value_counts().head(20))

# Petit check pour voir les titres originaux conserv√©s (ceux qui ne sont pas dans les cl√©s du dico)
categories_standard = list(CATEGORIES_METIER.keys())
titres_non_standard = df[~df['metier'].isin(categories_standard)]
print(f"\n‚ÑπÔ∏è Nombre de titres conserv√©s tels quels : {len(titres_non_standard)}")
if not titres_non_standard.empty:
    print("Exemple :", titres_non_standard['metier'].iloc[0])

# 5. Sauvegarde
output_path = "C:/Users/Etu/Desktop/dataset_FINAL_METIERS_V2.csv"
df.to_csv(output_path, index=False, encoding="utf-8-sig")
print(f"‚úÖ Fichier sauvegard√© : {output_path}")

üîÑ Cr√©ation de la colonne 'metier'...

üìä Aper√ßu des r√©sultats (Top 20 cat√©gories) :
metier
Data Engineer                                154
Data Analyst                                 144
D√©veloppeur Web / Fullstack                  142
Intelligence Artificielle                    136
D√©veloppeur Logiciel                          82
Data Scientist                                59
D√©veloppeur                                   35
Directeur / CTO                               27
Chef de Projet / PO                           11
DevOps / Cloud                                11
Consultant                                     9
Ing√©nieur D√©veloppement Logiciel Embarqu√©      8
Ing√©nieur D√©veloppement Logiciel               7
Syst√®me & R√©seau                               7
D√©veloppeur Mobile                             5
Test / QA                                      4
Data Ing√©nieur                                 3
Ing√©nieur Donn√©es Industrielles                3
Contr√¥leur De Gestion                          3
Cybers√©curit√©                                  3
Name: count, dtype: int64

‚ÑπÔ∏è Nombre de titres conserv√©s tels quels : 211
Exemple : Master Data Officer - Lille
‚úÖ Fichier sauvegard√© : C:/Users/Etu/Desktop/dataset_FINAL_METIERS_V2.csv

In [59]:
import pandas as pd

# 1. Charger ton fichier (mets le bon chemin)
input_path = "C:/Users/Etu/Desktop/cleaned_domain_info1.csv"
df = pd.read_csv(input_path)

# V√©rifions les noms exacts de tes colonnes (adapte si besoin)
# Supposons qu'elles s'appellent 'salaire_min' et 'salaire_max'
col_min = 'salary_min' 
col_max = 'salary_max'
col_avg = 'avg_salary' # On devra la recalculer apr√®s !

print("üîÑ Correction des salaires minimums aberrants (< 10k)...")

# 2. LA CONDITION (Le Masque)
# On cherche toutes les lignes o√π le salaire_min est inf√©rieur √† 10 000 ET non vide
condition = (df[col_min] < 10000) & (df[col_min].notna())

# Affichage du nombre de lignes concern√©es avant modif
nb_erreurs = condition.sum()
print(f"‚ö†Ô∏è {nb_erreurs} lignes d√©tect√©es avec un salaire min < 10 000 ‚Ç¨.")

# 3. LA CORRECTION
# Pour ces lignes-l√†, on remplace Min par Max * 0.85 (soit Max - 15%)
df.loc[condition, col_min] = df.loc[condition, col_max] * 0.85

# 4. MISE √Ä JOUR DE LA MOYENNE (Important !)
# Si on change le Min, la moyenne (Min+Max)/2 change aussi. Il faut la recalculer.
print("üîÑ Recalcul de la moyenne (Avg)...")
df[col_avg] = (df[col_min] + df[col_max]) / 2

# 5. Sauvegarde
output_path = "C:/Users/Etu/Desktop/dataset_FINAL_CLEANED_SALARY.csv"
df.to_csv(output_path, index=False, encoding="utf-8-sig")
print(f"‚úÖ Fichier corrig√© sauvegard√© : {output_path}")

üîÑ Correction des salaires minimums aberrants (< 10k)...
‚ö†Ô∏è 29 lignes d√©tect√©es avec un salaire min < 10 000 ‚Ç¨.
üîÑ Recalcul de la moyenne (Avg)...
‚úÖ Fichier corrig√© sauvegard√© : C:/Users/Etu/Desktop/dataset_FINAL_CLEANED_SALARY.csv

In [76]:
import pandas as pd

# 1. Charger les 3 fichiers
# Remplace par tes vrais chemins
path = "C:/Users/Etu/Desktop/"
df1 = pd.read_csv(path + "data_set_final.csv")
df2 = pd.read_csv(path + "cleaned_info2.csv")


print(f"Fichier 1 : {len(df1)} lignes")
print(f"Fichier 2 : {len(df2)} lignes")



# 3. La Fusion Magique
# ignore_index=True permet de refaire la num√©rotation des lignes de 0 √† la fin
df_final = pd.concat([df1, df2], ignore_index=True)

print(f"‚úÖ Total fusionn√© : {len(df_final)} lignes")


ordre_desire = [ 
    "id",
    "titre",
    "metier",
    "entreprise",
    "salaire_proposer",
    "salaire_min",
    "salaire_max",
    "salaire_avg",
    "description",
    "experience",
    "competences",
    "ville",
    "departement",
    "region"
    
    
]

# On filtre pour ne garder que les colonnes qui existent vraiment
colonnes_presentes = [c for c in ordre_desire if c in df_final.columns]

# On applique l'ordre
df_final = df_final[colonnes_presentes]

# 5. Sauvegarde
df_final.to_csv(path + "dataset_COMPLET_MERGED.csv", index=False, encoding="utf-8-sig")
print(" Fichier final cr√©√© et tri√© !")
len(df_final)

Fichier 1 : 6166 lignes
Fichier 2 : 1040 lignes
‚úÖ Total fusionn√© : 7206 lignes
üéâ Fichier final cr√©√© et tri√© !

7206

In [73]:
import pandas as pd

# 1. Charger ton fichier
input_path = "C:/Users/Etu/Desktop/dataset_FINAL_METIERS_V2.csv"
df = pd.read_csv(input_path)

# 2. Dictionnaire Humain (Lisible)
DEFAULT_SKILLS_RAW = {
    "Data Scientist": "python, sql, machine learning, scikit-learn, pandas, statistiques",
    "Data Analyst": "sql, excel, power bi, tableau, python, analyse de donn√©es",
    "Data Engineer": "python, sql, spark, etl, big data, cloud",
    "Data Architect": "sql, nosql, cloud, data modeling, architecture, s√©curit√©",
    "Intelligence Artificielle": "python, tensorflow, pytorch, deep learning, nlp, computer vision",
    "D√©veloppeur Web / Fullstack": "javascript, html, css, react, node.js, git",
    "D√©veloppeur Mobile": "swift, kotlin, flutter, react native, ios, android",
    "D√©veloppeur Logiciel": "java, c++, c#, python, algorithmes, git",
    "D√©veloppeur": "git, programmation, algorithmes, base de donn√©es, code review",
    "DevOps / Cloud": "docker, kubernetes, aws, ci/cd, linux, terraform",
    "Cybers√©curit√©": "r√©seau, s√©curit√©, linux, python, firewall, audit",
    "Syst√®me & R√©seau": "linux, windows server, r√©seau, tcp/ip, vmware, active directory",
    "Chef de Projet / PO": "gestion de projet, agile, scrum, jira, communication, planning",
    "Directeur / CTO": "management, strat√©gie, budget, leadership, architecture, agile",
    "Consultant": "communication, analyse, gestion de projet, excel, powerpoint",
    "Test / QA": "test manuel, test automatis√©, selenium, jira, qualit√©, bug tracking"
}

# --- CORRECTION ICI : ON CR√âE UN DICTIONNAIRE EN MINUSCULE ---
# On transforme toutes les cl√©s en minuscules pour la comparaison
SKILLS_MAPPING = {k.lower(): v for k, v in DEFAULT_SKILLS_RAW.items()}

FALLBACK_SKILLS = "java,python, git"

def enrichir_competences(row):
    # R√©cup√©ration et nettoyage du m√©tier (TOUT EN MINUSCULE)
    metier = str(row.get('metier', '')).strip().lower()
    
    competences = str(row.get('competences', ''))
    competences_lower = competences.lower()
    
    # 1. ANALYSE : Est-ce qu'on doit remplacer ?
    # Cas vide ou "non sp√©cifi√©"
    is_empty = (pd.isna(competences) or 
                competences == "" or 
                "non sp√©cifi√©" in competences_lower or 
                "non renseigner" in competences_lower or
                "nan" == competences_lower)
    
    # Cas liste trop courte (< 3 comp√©tences)
    nb_skills = len(competences.split(',')) if not is_empty else 0
    is_sparse = nb_skills < 3
    
    # 2. REMPLACEMENT
    if is_empty or is_sparse:
        # On cherche dans le dictionnaire MINUSCULE
        # Cela marchera que le m√©tier soit "Data Scientist" ou "DATA SCIENTIST"
        new_skills = SKILLS_MAPPING.get(metier, FALLBACK_SKILLS)
        return new_skills
        
    return competences

print("üîÑ Correction insensible √† la casse (Case Insensitive)...")

# Application
df['competences_corrigees'] = df.apply(enrichir_competences, axis=1)

# V√©rification sur un m√©tier √©crit en majuscule/minuscule pour voir si √ßa matche
print("Exemple de correction :")
print(df[['metier', 'competences_corrigees']].sample(5))

# Finalisation
df['competences'] = df['competences_corrigees']
df.drop(columns=['competences_corrigees'], inplace=True)

# Sauvegarde
output_path = "C:/Users/Etu/Desktop/dataset_FINAL_SKILLS_FIXED.csv"
df.to_csv(output_path, index=False, encoding="utf-8-sig")
print(f"‚úÖ Fichier corrig√© sauvegard√© : {output_path}")

üîÑ Correction insensible √† la casse (Case Insensitive)...
Exemple de correction :
                                            metier  \
297                                 Data Scientist
936                      Intelligence Artificielle
384                                Directeur / CTO
950                            Chef de Projet / PO
1001  Conducteur Vl - Cdd - Strasbourg - Permis Eb

                                                    competences_corrigees
297     python, sql, machine learning, scikit-learn, pandas, statistiques
936                                    angular, java, spring, spring boot
384        management, strat√©gie, budget, leadership, architecture, agile
950   agile, angular, cobol, confluence, java, jira, mysql, python, scrum
1001                                                     java,python, git
‚úÖ Fichier corrig√© sauvegard√© : C:/Users/Etu/Desktop/dataset_FINAL_SKILLS_FIXED.csv